:root {
  --color-dark: #242424;
  --color-dark-secondary: #1e1e1e;
  --color-secondary-primary: #3369f3;
  --color-white: #fff;
  --color-red: #f00;
  --color-gray: #eaeaea;
  --color-secondary-gray: #999;
  --color-third-gray: #efefef;
  --color-some-gray: #f8f8f8;
  --color-some-blue: #e4edfd;
  --color-some-second-gray: #fbfbfb;
  --color-some-third-gray: #f5f5f5;
  --color-black: #000;
  --font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
}
