:root {
  --color-dark: #242424;
  --color-primary: #3369F3;
  --color-white: #FFFFFF;
  --color-red: #ff0000;
  --color-gray: #EAEAEA;
  --color-secondary-gray: #999999;
  --color-third-gray: #EFEFEF;
  --font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}
