:root {
  --color-dark: #242424;
  --color-dark-secondary: #1e1e1e;
  --color-primary: #3369f3;
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-gray: #eaeaea;
  --color-secondary-gray: #999999;
  --color-third-gray: #efefef;
  --color-some-gray: #f8f8f8;
  --color-some-blue: #e4edfd;
  --font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}
