%button-style {
  padding: 0;
  outline: none;
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
  transition: opacity .4s linear;
}

.message-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.attach {
  @extend %button-style;
  background-image: url('../../shared/images/attach.min.svg');
  background-color: rgba($color: var(--color-white), $alpha: 1.0);
}

.attach:hover {
  opacity: 0.7;
}

.send {
  @extend %button-style;
  background-image: url('../../shared/images/send.min.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-secondary-primary);
  border-radius: 50%;
}

.send:hover {
  opacity: 0.7;
}
