<div class="form-container">
  <h2 class="form-container__heading">{{title}}</h2>
  <form class="form" name="{{formName}}" novalidate>
    <fieldset class="form__fieldset">{{{Inputs}}}</fieldset>
    {{{Buttons}}}
  </form>
</div>
