@use '../mixins.scss';

.button {
  max-width: 280px;
  height: 37px;
  width: 100%;
  background-color: var(--color-primary);
  border: 0;
  color: var(--color-white);
  padding: 0;
  @include mixins.middle-font;
  font-size: 13px;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;
  transition: opacity .4s linear;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

.button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 520px) {
  .button {
    margin-top: 45px;
    font-size: 14px;
    line-height: 1.21;
  }
}
