%extend-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  font-family: var(--font-family);
  max-width: 510px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
}

.profile-container__heading {
  margin: 27px 0 56px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.profile-form {
  width: 100%;
  @extend %extend-flex;
}

.profile-form__fieldset {
  @extend %extend-flex;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.profile-form__fieldset .edit-label {
  margin-bottom: 10px;
}

.profile-form__fieldset .edit-label:last-of-type {
  margin-bottom: 60px;
}
