<label class="label">
  <input type="file" />
  <figure class="personal-figure">
    <img src="{{{img}}}" class="personal-avatar" alt="avatar">
    <figcaption class="personal-figcaption">
      <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png" alt="камера">
    </figcaption>
  </figure>
</label>
