%input-font {
  font-weight: 500;
  line-height: 1;
}

.label {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  max-width: 358px;
  width: 100%;
}

.label__input {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 7px;
  @extend %input-font;
  font-size: 14px;
  box-sizing: border-box;
}

.label__input:focus {
  outline: 0;
}

.label__input_type_error {
  border-bottom-color: #FF0000;
}

.label__input-error {
  position: absolute;
  top: 32px;
  @extend %input-font;
  font-size: 12px;
  color: #ff0000;
  visibility: hidden;
}

.label__input-error_active {
  visibility: visible;
}
