<label class="label">
  <input
    id="name-input"
    class="label__input"
    type="text"
    name="name"
    required
    minlength="2"
    maxlength="40"
    placeholder="Логин"
  >
  <span class="label__input-error name-input-error"></span>
</label>
