@use '../mixins.scss';

.label {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  max-width: 280px;
  width: 100%;
  font-family: var(--font-family);
}

.label__input {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 7px;
  @include mixins.middle-font;
  font-size: 13px;
  box-sizing: border-box;
}

.label__input:focus {
  outline: 0;
}

.label__input_type_error {
  border-bottom-color: var(--color-red);
}

.label__input-error {
  position: absolute;
  top: 32px;
  @include mixins.middle-font;
  font-size: 12px;
  color: var(--color-red);
  visibility: hidden;
}

.label__input-error_active {
  visibility: visible;
}

.edit-label {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  max-width: 510px;
  width: 100%;
  font-family: var(--font-family);
  border-bottom: 1px solid var(--color-gray);
}

.edit-label__span {
  font-family: var(--font-family);
  font-size: 13px;
}

.edit-label__input {
  margin: 0;
  padding: 0;
  border: 0;
  padding-bottom: 7px;
  @include mixins.middle-font;
  font-size: 13px;
  box-sizing: border-box;
  text-align: end;
  color: var(--color-secondary-gray);
  background-color: rgba(0, 0, 0, 0);
}

.edit-label__input:focus {
  outline: 0;
}
