<label class="label">
  <input
    id="{{{inputId}}}"
    class="label__input"
    type="text"
    name="{{{inputName}}}"
    required
    minlength="2"
    maxlength="40"
    placeholder="{{{placeholder}}}"
  >
  <span class="label__input-error"></span>
</label>
