@use "../mixins.scss";

.their-message {
  max-width: 380px;
  margin: 0;
  padding: 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-family: var(--font-family);
  background-color: var(--color-some-gray);
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.their-message__time {
  justify-content: flex-end;
  display: flex;

  @include mixins.middle-font;

  font-size: 9px;
}
