.chat {
  display: flex;
  justify-content: space-between;
  max-width: 290px;
  width: 100%;
  height: 73px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-gray);
  font-family: var(--font-family);
  padding: 12px 0;
}

.chat__personal-image {
  width: 47px;
  height: 47px;
}

.chat__title {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: var(--color-dark-secondary);
  margin: 0 0 4px;
}

.chat__message {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-secondary-gray);
}

.chat__text-container {
  max-width: 168px;
}

.chat__info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.chat__time {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--color-secondary-gray);
}

.chat__counter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: var(--color-white);
  background-color: var(--color-secondary-primary);
}
