.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login .label {
  padding-bottom: 32px;
}

.login .label:last-of-type {
  padding-bottom: 169px;
}

.login .form__text-button {
  margin: 14px 0 30px;
}

.login__nav {
  position: absolute;
  top: 20px;
  left: 20px;
}
