.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .label {
  padding-bottom: 32px;
}

.login .label:last-of-type {
  padding-bottom: 169px;
}

.login .form__text-button {
  margin: 14px 0 30px;
}
