.message-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px 20px;
}

.message-window__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  box-sizing: border-box;
  margin: 10px 0;
  overflow: hidden;
}

.message-window__their-message {
  align-self: flex-start;
  margin-bottom: 20px;
}

.message-window__your-message {
  align-self: flex-end;
  min-width: 114px;
  margin-bottom: 20px;
}
