@use '../mixins.scss';

.edit-label {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  max-width: 510px;
  width: 100%;
  font-family: var(--font-family);
  border-bottom: 1px solid var(--color-gray);
}

.edit-label__span {
  font-family: var(--font-family);
  font-size: 13px;
}

.edit-label__input {
  margin: 0;
  padding: 0;
  border: 0;
  padding-bottom: 7px;
  @include mixins.middle-font;
  font-size: 13px;
  box-sizing: border-box;
  text-align: end;
  color: var(--color-secondary-gray);
  background-color: rgba(0, 0, 0, 0);
}

.edit-label__input:focus {
  outline: 0;
}
